From: {{from}}
To: {{to}}
Cc: {{cc}}
Bcc: {{bcc}}
Subject: {{subject}}

The {{ host_last_name }} are the hosting this group for {{ month }}.  You can reply-all to this email to coordinate with the group (just remove my email address before you do, thanks).
{{ extra_text }}
Here is the list of people you will be fellowshipping with along with their phone number if email doesn't work:
{{#people}}
{{ first_names }} {{ last_name }} - {{ phone }}
{{/people}}

If you need someone else to host for this month or any other issues arise please feel free to contact me.

- Adam Bright

do it
do it right
do it right now
