{{{Host_last_name}}} hosting this group for <b>{{Month}}</b>.  You can reply-all to this email to coordinate with the group (just remove my email address before you do, thanks).<br><br>
{{Extra_text}}
Here is the list of people you will be fellowshipping with, phone numbers are attached if that is their preferred means of contact:
<div style="padding-left:10px;">
{{#People}}&nbsp;{{First_names}} {{Last_name}}{{Phone}}<br>
{{/People}}</div><br>
If you need someone else to host for this month or any other issues arise please feel free to contact me.<br><br>

- Adam Bright<br><br>
<em>
  &nbsp;do it<br>
  &nbsp;do it right<br>
  &nbsp;do it right now<br>
</em>
