Hello {{ first_names }},

Saltshakers is a way to get to know your fellow members/attenders of North Park church by spending time with each other in each other's homes.  It's a great way to build stronger relationships by meeting in a more intimate setting.  This is how it works.  Every month I will send out an email to all of the members of your group for the next month (the first group emails are coming soon and will be your group for February).  This gives you an entire month to find a date that works for all members of the group.  The host is the coordinator for your group.  This means they have the final say in selecting the date the meeting will occur, figure out what their guests should bring, and determine whether kids are invited or not (not everyone's house is kid proof).  The typical event for this ministry is for each group to gather for a meal where the host provides the main dish and the guests bring sides and dessert.  I'd like to suggest that you aren't limited to this option although it probably should involve at least some food.  Another option that might be easier would be to play some board games and simply provide drinks and light snacks.  Also, each month I will try to recommend some type of service project that you could do as a group and then retire to the hosts house for a debrief/casual conversation/recovery/whatever.

If for some reason the host for your group is not responsive or if you are the host and simply can't host for a month please let me know and I can try to change up the groups or assign a new host for the group.

For those who like to set rules on their email inboxes I will always put [Saltshakers] in the subject line for easy filtering.

Thank you for being a part of this ministry, I look forward to meeting and spending time with you.  If you have any questions please feel free to contact me at this address.

- Adam Bright

do it
do it right
do it right now
